-# frozen_string_literal: true

.cart-title
  ショッピングカート

- @cart.cart_details.each do |cart_detail|
  .cart-detail
    .cart-detail__product-name
      = link_to cart_detail.product.name, cart_detail.product
    .cart-detail__product-price
      = number_to_currency(cart_detail.product.price)
    .cart-detail__quantity
      数量: #{cart_detail.quantity}
    = button_to '削除', cart_detail, method: :delete, class: 'cart-detail__delete-button'

小計
.cart-subtotal
  = number_to_currency(@cart.subtotal)
