%h1 Listing cart_details

%table
  %thead
    %tr
      %th Cart
      %th Product
      %th Quantity
      %th
      %th
      %th

  %tbody
    - @cart_details.each do |cart_detail|
      %tr
        %td= cart_detail.cart
        %td= cart_detail.product
        %td= cart_detail.quantity
        %td= link_to 'Show', cart_detail
        %td= link_to 'Edit', edit_cart_detail_path(cart_detail)
        %td= link_to 'Destroy', cart_detail, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Cart detail', new_cart_detail_path
