-# frozen_string_literal: true

.product-title
  = @product.name
.product-price
  = number_to_currency(@product.price)

= simple_form_for(@cart_detail) do |f|
  = f.hidden_field :product_id, value: @product.id
  = f.input :quantity, input_html: { class: 'form-quantity' }
  = f.button :submit, class: 'add-to-cart-button'

- @cart_detail.errors.messages[:base].each do |message|
  .error-message
    エラー： #{message}
